{% include 'components/header.html' %}
<!-- Контент с карточками -->
<div class="container mt-4 content">
    <div class="row justify-content-center">
        {% for book in book_list %}
        <!-- Пример карточки книги -->
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 100%;">
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.created_at }}</p>
                    <a href="/book_detail/{{book.id}}/" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <!-- Добавьте дополнительные карточки книг здесь -->
        {% endfor %}
    </div>
</div>

{% include 'components/footer.html' %}