{% load static %}
{% include 'components/header.html' %}
<link rel="stylesheet" href="{% static 'main_page/book_detail.css'  %}">
<!-- Контент с информацией о книге -->
<div class="container mt-4">
    <div class="book-card">
        <div class="card">
            <img src="{{book_id.image.url}}" class="card-img-top" alt="Книга">
            <div class="card-body">
                <h5 class="card-title">{{ book_id.title }}</h5>
                <p class="card-text">{{ book_id.description }}</p>
                <p><strong>Цена:</strong>{{ book_id.price}} $</p>
                <p><strong>Дата выхода:</strong>{{book_id.created_at}}</p>
                <p><strong>Жанр:</strong>{{book_id.genre}}</p>
                <p><strong>Почта:</strong>{{book_id.mail}}</p>
                <p><strong>Автор:</strong>{{book_id.author}}</p>
                <iframe width="100%" height="315" src="{{book_id.trailer}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- Блок для комментариев -->
    <div class="comment-section">
        <h5>Комментарии</h5>
        <li class="nav-item">
                    <a class="nav-link enable" href="{% url 'create_comment' id=book_id.id %}" style="color: black;">Оставить коммент</a>
                </li>
        {% for i in book_id.reviews.all %}
        <div class="comment">
            <p> {{ i.created_at }}: {{ i.text_review }} <strong>Оценка:</strong>{{ i.stars }}</p>
        </div>
        {% endfor  %}
    </div>
</div>

{% include 'components/footer.html' %}